@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #ebfaff;
}

section {
    width: 340px;
    padding: 30px;
    background-color: #ffffff;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.1);
}

section nav.menu {
    width: 100%;
}

section nav.menu a {
    font-size: 20px;
    color: #666;
}

section nav.menu a:nth-of-type(1) {
    float: left;
}

section nav.menu a:nth-of-type(2) {
    float: right;
}

section nav.menu::after {
    content: "";
    display: block;
    clear: both;
}

section article.profile {
    width: 100%;
    text-align: center;
}

section article.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 5px 15px 10px
    rgba(170, 210, 230, 0.8);
}

section article.profile h1 {
    font-weight: bold;
    font-size: 23px;
    font-family: "airal";
    line-height: 1;
    color: #555;
    margin-bottom: 8px;
}

section article.profile h2 {
    font-weight: normal;
    font-size: 15px;
    font-family: "arial";
    line-height: 1;
    color: #555;
    margin-bottom: 10px;
}

section a.btnview {
    display: block;
    width: 180px;
    height: 32px;
    margin: 0px auto 20px;
    background-color: #444;
    border-radius: 15px;
    font: 600 14px/1 "arial";
    color: #fff;
    line-height: 32px;
    text-align: center;
    box-shadow: 5px 10px 20px
    rgba(0, 255, 255, 0.1);
    margin-top: 20px;
}

section ul.contact {
    margin-bottom: 25px;
}

section ul.contact li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

section ul.contact li:last-child {
    border-bottom: none;
}

section ul.contact li i {
    width: 20%;
    text-align: center;
    color: #555;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ddd;
}

section ul.contact li span {
    font: normal 16px/1 "Outfit";
    color: #555;
}

section nav.others {
    width: 100%;
    text-align: center;
}

section nav.others a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
/**/
opacity: 0.4;
filter: saturate(0.7);
}

section nav.others a.on {
    opacity: 1;
    filter: saturate(1);
}


section nav.others a:nth-of-type(1) {
    background-color: #2fd8d8;
    box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}

section nav.others a:nth-of-type(2) {
    background-color: #62ad24;
    box-shadow: 5px 5px 10px rgba(69, 116, 80, 0.7);
}

section nav.others a:nth-of-type(3) {
    background-color: #591d7c;
    box-shadow: 5px 5px 10px rgba(108, 57, 143, 0.7);
}

section nav.others a:nth-of-type(4) {
    background-color: #d3a321;
    box-shadow: 5px 5px 10px rgba(139, 119, 53, 0.7);
}

/*member1*/

body.member1 {
    background-color: #6cb4cc;
}

body.member1 section article.profile img {
    box-shadow: 5px 15px 30px rgba(58, 78, 85, 0.8);
}

body.member1 section a.btnview {
    background: linear-gradient(45deg, #76b3b3, #14464d);
    box-shadow: 5px 10px 20px rgba(58, 78, 85, 0.4);
}

/*member2*/

body.member2 {
    background-color: #72b43b;
}

body.member2 section article.profile img {
    box-shadow: 5px 15px 30px rgba(58, 78, 85, 0.8);
}

body.member2 section a.btnview {
    background: linear-gradient(45deg, #49c78c, #24552c);
    box-shadow: 5px 10px 20px rgba(18, 105, 57, 0.5);
}

/*member3*/

body.member3 {
    background-color: #816792;
}

body.member3 section article.profile img {
    box-shadow: 5px 15px 30px rgba(58, 78, 85, 0.8);
}

body.member3 section a.btnview {
    background: linear-gradient(45deg, #915fb9, #461453);
    box-shadow: 5px 10px 20px rgba(124, 63, 173, 0.5);
}

/*member4*/

body.member4 {
    background-color: #e2b285;
}

body.member4 section article.profile img {
    box-shadow: 5px 15px 30px rgba(58, 78, 85, 0.8);
}

body.member4 section a.btnview {
    background: linear-gradient(45deg, #cfa565, #df9b64);
    box-shadow: 5px 10px 20px rgba(114, 91, 56, 0.5);
}